<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                   
                  <li class="page-item <%= 1===page ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= page-1 %>">
                        <i class="fas fa-arrow-circle-left"></i>
                      </a>
                    </li>
                 
                  <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){ %>
                    <li class="page-item <%= i===page ? 'active' : '' %>">
                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                  <% } %>
              
                  <li class="page-item <%= totalPages===page ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= page+1 %>">
                        <i class="fas fa-arrow-circle-right"></i>
                      </a>
                    </li>
              
                </ul>
              </nav>
        </div>
    </div>


    <div class="row">
        <div class="col">

            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col"><i class="fas fa-trash-alt"></i></th>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">電郵</th>
                    <th scope="col">手機</th>
                    <th scope="col">生日</th>
                    <th scope="col">地址</th>
                    <th scope="col"><i class="fas fa-edit"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i of rows){ %>
                  <tr>
                    <td>
                      <a href="javascript: del_it(<%= i.sid %>)">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                    <td><%= i.sid %></td>
                    <td><%= i.name %></td>
                    <td><%= i.email %></td>
                    <td><%= i.mobile %></td>
                    <td><%= toDateString(i.birthday) %></td>
                    <td><%= i.address %></td>
                    <td>
                      <a href="/address-book/edit/<%= i.sid %>">
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>

                  </tr>
                  <% } %>
                </tbody>
            </table>
        </div>
    </div>



</div>

<%- include('parts/scripts') %>
<script>
  function del_it(sid) {
    if(confirm(`確定要刪除編號為 ${sid} 的資料嗎?`)){
      location.href = '/address-book/del/' + sid;
    }
  }

</script>


<%- include('parts/html-foot') %>