<style>
  .navbar .nav-item .nav-link.active{
    background-color: rgb(98, 155, 240);
    color: white;
    font-weight: 400;
    border-radius: 5px;
  }

</style>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link <%= pageName==='home' ? 'active' : '' %> " href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= pageName==='json-sales' ? 'active' : '' %>" href="/json-sales">json-sales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= pageName==='ab-list' ? 'active' : '' %>" href="/address-book">列表</a>
              </li>

              <li class="nav-item">
                <a class="nav-link <%= pageName==='ab-add' ? 'active' : '' %>" href="/address-book/add">新增</a>
              </li>


              <li class="nav-item">
                <a class="nav-link <%= pageName==='product-list' ? 'active' : '' %>" href="/product-list">商品列表</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= pageName==='cart-list' ? 'active' : '' %>" href="/cart/list">購物車</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <% if(admin){ %>
                <li class="nav-item">
                  <a class="nav-link"><%= admin %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">登出</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">登入</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">註冊</a>
                </li>
              <% } %>

            </ul>

          </div>
        </div>
      </nav>
</div>